/* Use a responsive layout */
.container {
  display: grid;  /* Use a responsive grid system */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  /* Set the number and widths of the columns */
  grid-gap: 20px;  /* Add some space between the grid items */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  max-width: 60ch;
}

/* Use responsive fonts */
html {
  font-size: 65%;  /* Set the base font size to 10px */
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  color: #333;
  /* Add responsive font size */
  font-size: calc(1rem + 0.3vw);  /* Set the body font size to 1rem + 0.5% of the viewport width */
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #666;
}

/* Style the navigation bar */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-link {
  font-size: 14px;
  font-weight: 300;
  margin-right: 20px;
}
.nav-link.active {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .nav-link {
    font-size: 14px;
  }
} 
