<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" href="../css/default.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
            integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
            crossorigin="anonymous"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"
        />
        <style>
            .pure-menu {
                text-align: left; /* Align the menu to the left */
            }

            .pure-menu-link {
                font-size: 18px;
            }
        </style>
    </head>

    <body>
        <div class="pure-menu pure-menu-horizontal">
            <a
                class="pure-menu-heading pure-menu-link"
                aria-current="page"
                href="/"
                >Home</a
            >
            <a class="pure-menu-heading pure-menu-link" href="/blog.html"
                >Blog</a
            >
            <a class="pure-menu-heading pure-menu-link" href="/bookshelf.html"
                >Bookshelf</a
            >
        </div>
        <div class="container">{{ content }}</div>
        <br />
    </body>
</html>
